body {
    min-height: 100vh;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 98%);
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 2rem 0 2rem;
}

.container__title {
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-weight: 200;
    font-size: 1.5rem;
    color: hsl(234, 12%, 34%);
    line-height: 2rem;
}

.title__span {
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}

.container__paragraph {
    text-align: center;
    color: hsl(229, 6%, 66%);
    font-size: 0.99rem;
    line-height: 1.5rem;
    margin-bottom: 4rem;
}

.cards {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
                rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.card__supervisor {
    border-top: 4px solid hsl(180, 62%, 55%);
}

.card__team {
    border-top: 4px solid hsl(0, 78%, 62%);
}

.card__karma {
    border-top: 4px solid hsl(34, 97%, 64%);
}

.card__calculator {
    border-top: 4px solid hsl(212, 86%, 64%);
}

.cards__title {
    color: hsl(234, 12%, 34%);
    margin: 0;
    font-size: 1.2rem;
}

.cards__paragraph {
    color: hsl(229, 6%, 66%);
    margin-top: 0.6rem;
    font-size: 0.8rem;
}

.cards__img {
    width: fit-content;
    align-self: flex-end;
    margin-top: 1.5rem;
}

.attribution {
    color: hsl(234, 12%, 34%);
    text-align: center;
} 

@media screen and (min-width: 1440px) {

    .container{
        align-items: center;
    }

    .container__info {
        width: 35rem;
    }

    .container__title {
        text-align: center;
        line-height: 3rem;
        font-size: 2.3rem;
    }

    .container__paragraph {
        text-align: center;
        line-height: 1.3rem;
    }

    .container__cards {
        display: grid;
        grid-template-areas: "one two three"
                                "one two2 three";
        justify-items: center;
    }

    .card__supervisor {
        grid-area: one;
        width: 18rem;
        margin-right: 1.5rem;
        margin-top: 8rem;
        height: 10.1rem;
    }

    .card__team {
        grid-area: two;
        width: 18rem;
    }

    .card__karma {
        grid-area: two2;
        width: 18rem;
    }

    .card__calculator {
        grid-area: three;
        width: 18rem;
        margin-left: 1.5rem;
        height: 10.1rem;
        margin-top: 8rem;
    }
}