:root {
    --cyan: hsl(179, 62%, 43%);
    --cyan2: rgb(74, 190, 189);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}